{% extends "base.html" %}

{% block content %}
<h1>login</h1>
<form method="POST" action="" novalidate>
    {{form.hidden_tag()}}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{%  endblock content %}